.perfil-contenedor {
    padding: 20px;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}

h2 {
    color: #333;
}

#datos-maquina {
    margin-top: 20px;
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.menu-container {
    background-color: #444;
    color: white;
    padding: 10px;
}

#dropdown-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#dropdown-menu li {
    margin: 5px 0;
}

#dropdown-menu.hidden {
    display: none;
}
